body{
    background-color: #F5F5DC;
}

.img_topo{
    width: 50%;
}

figure {
    text-align: center;
}

.img_corpo{
    width: 65%;
}

    .container{
        width: 80%;
        margin: auto;
    }
    h1{
        text-align: center;
        text-decoration: overline;
        color:#32CD32;
         font-weight: bolder
    }
    
    p{
        
        font-size: 1.5em;
        text-align: justify;
        text-indent: 20px;
        color:#0000FF;
        font-weight: bolder;


    }
